<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Movies</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
<div class="container">
    <h1>List of Movies</h1>
    <input type="text" id="search" placeholder="Search by title...">
    <ul class="movie-list" id="movieList">
        <?php foreach ($movies as $movie): ?>
        <li class="movie-item">
            <img src="<?= htmlspecialchars($movie->getTitle()) ?> Poster">
            <span><?= htmlspecialchars($movie->getTitle()) ?> (<?= htmlspecialchars($movie->getGenre()) ?>)</span>
        </li>
        <?php endforeach; ?>
    </ul>
</div>

<footer>
    <div class="developer-info">
        <p>Developer: Polina Kisiel</p>
        <p>Year: 2025</p>
    </div>
</footer>

<script src="/js/script.js"></script>
</body>
</html>