<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit movie</title>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Edit movie</h1>
        <form action="/movies/edit" method="POST">
            {{if !empty($movie)}}
            <input type="hidden" name="id" value="{{ movie->id }}">

            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{ movie->getTitle() }}" required>

            <label for="rating">Rating:</label>
            <input type="number" id="rating" name="rating" step="0.1" min="0" max="10" value="{{ movie->getRating() }}" required>

            <label for="genre">Genre:</label>
            <select id="genre" name="genreID" required>
                <option value="" disabled>Choose the genre</option>
                {{foreach $genres as $genre}}
                <option value="{{ genre->id }}"
                        {{if $genre->id == $movie->getGenreID()}} selected {{endif}}>
                    {{ genre->getName() }}
                </option>
                {{endforeach}}
            </select>

            <label for="director">Director:</label>
            <select id="director" name="directorID" required>
                <option value="" disabled>Choose the genre</option>
                {{foreach $directors as $director}}
                <option value="{{ director->id }}"
                        {{if $director->id == $movie->getDirectorID()}} selected {{endif}}>
                    {{ director->getName() }}
                </option>
                {{endforeach}}
            </select>

            <button type="submit" class="btn-edit">Save</button>
            {{else}}
            <div class="message">There is no such movie.</div>
            {{endif}}
        </form>
    </div>

    <script src="/public/assets/js/script.js"></script>
</body>
<footer>
    <div class="developer-info">
        <p>Developer: Polina Kisiel</p>
        <p>Year: 2025</p>
    </div>
</footer>
</html>
