<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Director list</title>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/styles.css">
</head>
<body>
    <a href="/movies" class="btn-movies">
        <img src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><polygon points='10,0 0,10 10,20' fill='%23fff'/></svg>"
             class="back-icon" alt="Movies">
        Movies
    </a>
    <a href="/genres" class="btn-genre">
        <img src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><polygon points='10,0 0,10 10,20' fill='%23fff'/></svg>"
             class="back-icon" alt="Genres">
        Genres
    </a>

    <div class="container">
        <h1>Director list</h1>
        <form action="/directors/add" method="POST">
            <label for="name">Name of new director:</label>
            <input type="text" id="name" name="name" maxlength="90" required>
            <button type="submit" class="btn-add">Add</button>
        </form>
        <table class="director-table">
            <thead>
            <tr>
                <th>Director's name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{if !empty($directors)}}
            {{foreach $directors as $director}}
            <tr>
                <td>
                    <a href="/movies/director?id={{ director->id }}" class="director-link">
                        {{ director->getName() }}
                    </a>
                </td>
                <td>
                    <a href="/directors/delete?id={{ director->id }}" class="btn-delete"
                       onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
            {{endforeach}}
            {{else}}
            <tr>
                <td colspan="2" class="message">There is no directors.</td>
            </tr>
            {{endif}}
            </tbody>
        </table>
    </div>

    <script src="/public/assets/js/script.js"></script>
</body>
<footer>
    <div class="developer-info">
        <p>Developer: Polina Kisiel</p>
        <p>Year: 2025</p>
    </div>
</footer>
</html>