<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>File manager</title>
    <link rel="stylesheet" href="/public/assets/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<h1>File manager</h1>

<div class="nav-buttons">
    <a href="/admin" class="nav-button" title="To the root">
        <i class="fas fa-home"></i>
    </a>

    {{if $backPath}}
    <a href="?path={{ backPath }}" class="nav-button" title="Назад">
        <i class="fas fa-arrow-left"></i>
    </a>
    {{endif}}

    <span class="current-path">{{ currentPath }}</span>
</div>

<form method="post" action="/admin/files/upload?path={{ currentPathEncoded }}" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Load file</button>
</form>

<form method="post" action="/admin/files/directory?path={{ currentPathEncoded }}" style="margin-top: 15px;">
    <label>
        <input type="text" name="directory" placeholder="Название директории" required>
    </label>
    <button type="submit">Create dir</button>
</form>

<table class="file-table">
    <tbody>
    {{foreach $files as $file}}
    <tr class="{{ file['name'] }}">
        <td class="file-name">
            {{if $file['isDir']}}📁{{else}}📄{{endif}}

            {{if $file['isDir']}}
            <a href="?path={{ file['url'] }}">
                {{ file['name'] }}
            </a>
            {{else}}
            <a href="/admin/files/edit?file={{ file['url'] }}">
                {{ file['name'] }}
            </a>
            {{endif}}
        </td>

        <td>
            {{if !$file['isDir']}}
            <a href="/admin/files/download?file={{ file['url'] }}">Download</a>
            {{endif}}
        </td>

        <td>
            <form method="post" action="/admin/files/delete" style="display:inline;">
                <input type="hidden" name="file" value="{{ file['fullPath'] }}">
                {{if $file['isDir']}}
                <button type="submit" onclick="return confirm('Delete dir?')">Delete</button>
                {{else}}
                <button type="submit" onclick="return confirm('Delete file?')">Delete</button>
                {{endif}}
            </form>
        </td>
    </tr>
    {{endforeach}}
    </tbody>
</table>
</body>
<footer>
    <div class="developer-info">
        <p>Developer: Polina Kisiel</p>
        <p>Year: 2025</p>
    </div>
</footer>
</html>
