<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genre list</title>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Genre list</h1>
        <form action="/genres/add" method="POST">
            <label for="name">Name of new genre:</label>
            <input type="text" id="name" name="name" maxlength="90" required>
            <button type="submit" class="btn-add">Add</button>
        </form>
        <table class="genre-table">
            <thead>
            <tr>
                <th>Genre's name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{if !empty($genres)}}
            {{foreach $genres as $genre}}
            <tr>
                <td>
                    <a href="/movies/genre?id={{ genre->id }}" class="genre-link">
                        {{ genre->getName() }}
                    </a>
                </td>
                <td>
                    <a href="/genres/delete?id={{ genre->id }}" class="btn-delete"
                       onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
            {{endforeach}}
            {{else}}
            <tr>
                <td colspan="2" class="message">There is no genres.</td>
            </tr>
            {{endif}}
            </tbody>
        </table>
    </div>

    <script src="/public/assets/js/script.js"></script>
</body>
<footer>
    <div class="developer-info">
        <p>Developer: Polina Kisiel</p>
        <p>Year: 2025</p>
    </div>
</footer>
</html>